{
  "presets": [
    "react",
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-runtime",
    "babel-plugin-add-module-exports",
//    "transform-es2015-classes",
    "transform-decorators-legacy", // 引人 ES7 的装饰器 @
    "transform-class-properties",
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "style": true }]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}