//"off" 或者0——不检查这个规则
//"warn"或者1——开启这个规则，规则生效时，作为提醒告诉用户
//"error"或者2——开启这个规则，规则生效时，作为错误告诉用户
//see http://www.cnblogs.com/super86/p/6994813.html
{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],//语句强制分号结尾
    "no-console": 1,
    "comma-dangle": [2, "always-multiline"],
    "max-len": 0,
    "linebreak-style": [0, "windows"],//换行风格
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props":1,
    "space-before-function-paren": [2, "always"],
    "no-unused-expressions": [0, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "arrow-body-style": [0, "never"],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "react/jsx-no-bind": 2,
    "no-useless-constructor":1,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "no-underscore-dangle": 0,
    "global-require": 0,
//    "react/display-name": 2,
    "react/forbid-prop-types": 1,
//    "react/jsx-boolean-value": 1,
//    "react/jsx-closing-bracket-location": 1,
//    "react/jsx-curly-spacing": 1,
//    "react/jsx-indent-props": 1,
//    "react/jsx-max-props-per-line": 0,
//    "react/jsx-no-duplicate-props": 1,
//    "react/jsx-no-literals": 0,
//    "react/jsx-no-undef": 1,
//    "react/jsx-sort-props": 0,
//    "react/jsx-uses-react": 1,
//    "react/jsx-uses-vars": 1,
//    "react/no-danger": 1,
//    "react/no-did-mount-set-state": 1,
//    "react/no-did-update-set-state": 1,
//    "react/no-direct-mutation-state": 1,
//    "react/no-multi-comp": 1,
//    "react/no-set-state": 0,
//    "react/no-unknown-property": 1,
//    "react/prop-types": 0,
//    "react/react-in-jsx-scope": 0,
//    "react/self-closing-comp": 1,
//    "react/sort-comp": 1,
//    "react/sort-prop-types": 1,
//    "react/jsx-wrap-multilines": 1
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,//window,document 对象免声明可使用
    "node": true,
    "amd": true
  }
}